<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Button</title>
</head>

<body class="p-4">
    <div class="grid grid-cols-2 gap-4">
        <div>
            <label class="font-weight-bold">Outline button</label>
            <div class="px-2 mt-2">
                <button class="border-danger p-2 text-danger font-weight-bold hover-bg-danger hover-text-white">Outline
                    Danger</button>
                <button
                    class="border-primary p-2 text-primary font-weight-bold hover-bg-primary hover-text-white">Outline
                    Primary</button>
            </div>
            <div class="mt-2 p-2 bg-black">
                <xmp class="whitespace-normal text-white opacity-50">
                    <button
                        class="border-danger p-2 text-danger font-weight-bold hover-bg-danger hover-text-white">Outline
                        Danger</button>
                </xmp>
                <xmp class="whitespace-normal text-white opacity-50">
                    <button
                        class="border-primary p-2 text-primary font-weight-bold hover-bg-primary hover-text-white">Outline
                        Primary</button>
                </xmp>
            </div>
        </div>
        <div>
            <label class="font-weight-bold">Pill button</label>
            <div class="px-2 mt-2">
                <button class="border-danger p-2 text-danger font-weight-bold hover-bg-danger hover-text-white rounded-pill">Outline
                    Danger</button>
                <button
                    class="border-primary p-2 text-primary font-weight-bold hover-bg-primary hover-text-white rounded-pill">Outline
                    Primary</button>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <a href="/" class="font-weight-bold text-dark">Home</a>
    </div>
</body>

</html>