<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Confirm</title>
</head>
<body class="bg-gray-100">
    <div class="position-relative">
        <div class="position-absolute p-4 bg-white shadow font-weight-500 rounded">
            Are you sure to delete this task?
            <div class="text-right mt-3">
                <button class="border p-1 rounded bg-white border-none font-weight-bold text-gray-700" type="button">No</button>
                <button class="border-primary bg-white p-1 text-primary font-weight-bold rounded hover-bg-primary hover-text-white">Yes</button>
            </div>
        </div>
    </div>
</body>
</html>