<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Text</title>
</head>
<body class="p-4">
    <div class="mb-2">
        <div class="fw-bold mb-2">Text Decoration</div>
        <table class="w-100">
            <thead class="bg-gray-100">
                <tr>
                    <th class="text-left p-2">Class</th>
                    <th class="text-left p-2">Properties</th>
                    <th class="text-left p-2">Preview</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-2">.text-decoration-underline</td>
                    <td class="p-2">text-decoration: underline;</td>
                    <td class="text-decoration-underline p-2">Text Decoration</td>
                </tr>
                <tr>
                    <td class="p-2">.text-decoration-line-through</td>
                    <td class="p-2">text-decoration: line-through;</td>
                    <td class="text-decoration-line-through p-2">Text Decoration</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>