<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Dashboard</title>
</head>
<body class="p-4">
    <div>
        <a href="/index.html" class="text-dark">Home</a> / 
        <a href="/templates/index.html" class="text-dark">Template</a> / 
        <span class="text-dark cursor-default">Dashboard</span>
    </div>
    <ul>
        <li>
            <a href="/templates/dashboard/goods-delivery.html" class="text-dark mr-2">Goods Delivery</a><a href="https://dribbble.com/shots/4751656-Goods-Delivery/attachments/4751656-Goods-Delivery?mode=media" target="_blank" class="text-dark"><i>(shots)</i></a>
        </li>
    </ul>
</body>
</html>